# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.obj
*.res
*.sym
*.exe
*.qm

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.rsp

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# Other compiled binaries
*.[Hh][Ll][Pp]
*.[Ii][Nn][Ff]
*.[Qq][Cc][Hh]
*.[Qq][Hh][Cc]
*.[Mm][Aa][Pp]

# Other temporary workspace files
*.[Bb][Aa][Kk]
*.[Ll][Oo][Gg]
*.[Zz][Ii][Pp]
*.tar.gz
*.diff
test*.txt
